<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.picodiploma.favoritesconsumerapp">

    <uses-permission android:name="com.dicoding.picodiploma.finalsubmission.READ_DATABASE" />
    <uses-permission android:name="com.dicoding.picodiploma.finalsubmission.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.DetailTvShowConsumerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.DetailMovieConsumerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>